<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="1_2_login_signup.css">
</head>
<body>

<div class="container">
    <div class="form-box">
        <h2>Login</h2>
        <form action="/login" method="POST">
            
            <div class="input-group">
                <label>Email</label>
                <input type="email" name="email" required>
            </div>

            <div class="input-group">
                <label>Password</label>
                <input type="password" name="password" required>
            </div>

            <button type="submit">Login</button>

            <p class="switch">
                Don't have an account? 
                <a href="signup.html">Create Account</a>
            </p>
        </form>
    </div>
</div>

</body>
</html>